.main_header {
    width: 100%;
    height: 10%;
    background-color: #8BB8D9;
    font-family: 'Ceviche One', cursive;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 15%;
    background-color: brown;
}

.navbar {
    height: 100%;
    width: 30%;
    display: flex;
    background-color: brown;
    justify-content: space-between;
    align-items: center;
}

.navbar_items {
    display: flex;
}