@media (max-width:540px) {
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 10px;
        resize: vertical;
    }
    textarea {
        height: 100px;
    }
    .submit {}
}